header {
    border: 1px solid goldenrod; 
}

header li {
    display: inline; 
    margin: 15px; 
}

.disabled {
    color: gray;
}

a.disabled {
    color: purple;
}

.active {
    color: yellow;
}

.parent > div > div:first-child {
    color: red;
} 

.parent > div > div:nth-child(3) {
    color: blue;
}

.parent > div > h4:nth-child(2) {
    background-color: red;
}

.parent > div > h4:nth-child(4) {
    background-color: blue;
}

.grandparent > h4:nth-child(2) {
    border: 1px solid black;
    border-radius: 60px;
}

.promo {
    font-weight: 900;
    color: goldenrod;
}

input[type=text] {
    height: 25px;
}